@import './vars.css';

html {
    box-sizing: border-box;
    background: var(--color-background);
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0; /* Browsers have a default padding and/or margin. */
    margin: 0;
}

button {
    all: unset;
    cursor: pointer;
    background: var(--color-primary);
    color: var(--color-background);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-family: var(--font-family), sans-serif;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.02);
}