@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-primary: #31d8ae;
    --color-secondary: #020024;
    --color-accent: #0600c2;
    --color-text: #ebe9fc;
    --color-background: #010104;
    --type-scale: 1.333;
    --p-size: 1rem;
    --h6-size: calc(var(--p-size) * var(--type-scale));
    --h5-size: calc(var(--h6-size) * var(--type-scale));
    --h4-size: calc(var(--h5-size) * var(--type-scale));
    --h3-size: calc(var(--h4-size) * var(--type-scale));
    --h2-size: calc(var(--h3-size) * var(--type-scale));
    --h1-size: calc(var(--h2-size) * var(--type-scale));
    --font-family: 'Inter', sans-serif;
}

h1, .h1 {
    font-size: var(--h1-size);
    font-family: var(--font-family), sans-serif;
}

h2, .h2 {
    font-size: var(--h2-size);
    font-family: var(--font-family), sans-serif;
}

h3, .h3 {
    font-size: var(--h3-size);
    font-family: var(--font-family), sans-serif;
}

h4, .h4 {
    font-size: var(--h4-size);
    font-family: var(--font-family), sans-serif;
}

h5, .h5 {
    font-size: var(--h5-size);
    font-family: var(--font-family), sans-serif;
}

h6, .h6 {
    font-size: var(--h6-size);
    font-family: var(--font-family), sans-serif;
}

p, .p {
    font-size: var(--p-size);
    font-family: var(--font-family), sans-serif;
    color: var(--color-text);
}

.small {
    font-size: 0.8rem;
    font-family: var(--font-family), sans-serif;
    color: var(--color-text);
}
